<!DOCTYPE html>
<html>
    <head>
        <title>University Registrar</title>
    </head>
    <body>
        <h1>{{ student.getName }}</h1>

            {% if courses is not empty %}
                <p>Here are the courses:</p>
                <ul>
                    {% for course in courses %}
                    <li>{{ course.getCourseName }} </li>
                        <ul>
                          <li>Course Code: {{ course.getCode }}</li>
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}

    <h4>Add a course</h4>

    <form action='/add_courses' method='post'>
        <input id="student_id" name="student_id" type="hidden" value="{{ student.getId }}">
        <label for='course_id'>Select a course:</label>
        <select id='course_id' name='course_id' type='text'>
            {% for course in all_courses %}
              <option value="{{ course.getId }}"> {{ course.getCourseName }} </option>
            {% endfor %}
        </select>
        <button type="submit">Add course</button>
    </form>
    <p><a href="/students/{{ student.getId }}/edit">Edit this student</a></p>
    <p><a href='/'>Home</a></p>
    </body>
</html>
